<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Web Forum!</title>
        <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <div class="main_container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Categories</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="pull-right"><a href="#">Login</a></li>
                        <li class="pull-right"><a href="#">Register</a></li>
                    </ul>
                </div>
            </nav>
            <div id="content_container" class="container">
                {% block content%}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
