
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks  %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container" id="loginContainer">
<h2>Login</h2>


<form method="post">
  {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}<br>
        {{ field | append_attr:"class:form-control bg-dark" }}
        {% if field.help_text %}
        <p class="helpText">{{ field.help_text }}</p>
        {% endif %}
        {% for error in field.errors %}
        <p class="errorText">{{ error }}</p>
        {% endfor %}
    {% endfor %}
  <button type="submit" id="login_button" class="btn btn-dark">Login</button>

</form>
    </div>
{% endblock %}
